#ugly: false
!!!
%html
  %head
    %title 3-12-18 Haml Time
  %body
    %h1 Learning Haml and Journaling
    %p This is going to be a neat thing. I wanted to up my game with my webdev
    and I feel like with this I am learning more stuff and utalizing good tech.
    Cool beans!
    %h2 I want to develop the skills to be wanted at companies like NewRelic
    %p It may not be something I totally want to do now. But I want that as
    an option. So that I am a desired web dev. If I am desired and a company
    has an opening for a interface developer that would be steller. I would
    not mind going to work full time if it was something beauitiful elegent
    and rewarding. now if only I would care enough to spell. HahaQ!
    %h2 Audio Loop time
    %input{:type => "button", :name => "Track1", :value => "Track1"}
    %input{:type => "button", :name => "Track2", :value => "Track2"}
    %input{:type => "button", :name => "Track3", :value => "Track3"}
    %input{:type => "button", :name => "Track4", :value => "Track4"}
    %p This took like two hours to setu.. well not just setup. But to do some
    html writing and some research. All done while listening to
    %a{:href => "http://soma.fm"}
      soma.fm
    and learning haml and ruby stuff. Great job.
    %a{:href => "index.html"}
