!!!
%hmtl
  %head
  %title 3-13-18 Journal
%body
  %h1 Dreams
  %p My dreams last night were very psychodelic and vivid.
  I startered out rock climbing with Dana Steph and some random girl
  After things got tense between steph and I the dream began to morph
  into a night scene.
  %p It was night time and I was woundering around the streets. I
  stoped by a donought shop and ordered dealers choice. I got a big
  10$ whopper of a doughnut. It was multilayered with lots of colors.
  The
